{# ============================================================================
   src/pages/index.njk
   Home page assembly. Pulls in all section partials in the order you want.
============================================================================ #}
{% extends "layouts/base.njk" %}

{% set pageTitle = "Flower Shop" %}
{% set pageDescription = "Automated flower vending solutions – beautifully lit, smartly cooled, 24/7 available." %}

{% block content %}
  {% include "partials/hero.njk" %}
  {% include "partials/intro.njk" %}
  {% include "partials/technical.njk" %}
  {% include "partials/pricing.njk" %}
  {% include "partials/video.njk" %}
  {% include "partials/about.njk" %}
  {% include "partials/gallery.njk" %}
  {% include "partials/contacts.njk" %}
  {% include "partials/footer.njk" %}
{% endblock %}
