{# ============================================================================
   src/pages/index.njk
   Home page content for Flower Pickup Box site.
============================================================================ #}
{% extends "layouts/base.njk" %}

{% block content %}
  {% include "partials/hero.njk" %}
  {% include "partials/intro.njk" %}
  {% include "partials/technical.njk" %}
  {% include "partials/pricing.njk" %}
  {% include "partials/video.njk" %}
  {% include "partials/about.njk" %}
  {% include "partials/gallery.njk" %}
  {% include "partials/contacts.njk" %}
  {% include "partials/footer.njk" %}
{% endblock %}
