<!-- ABOUT SECTION -->
<section id="about" aria-labelledby="about-heading">
  <div class="wrapper">
    <h2 id="about-heading">{{ t.aboutHeading }}</h2>
    <div class="about-pocket">
      <p id="i18n-aboutText">
        {{ t.aboutText }}
      </p>
    </div>
  </div>
</section>
