<!-- VIDEO SECTION -->
<section id="video" aria-label="Video">
  <div class="wrapper">
    <div class="video-placeholder" aria-label="Video placeholder" id="i18n-videoPlaceholder">
      {{ t.videoPlaceholder }}
    </div>
  </div>
</section>
